<h1>About Unconventional</h1>
<p>Unconventional is a web app created by JD Crouch to help individuals network with people in related fields to collaborate on projects on a scope previously only attainable through local networking events. Unconventional prioritizes skill and style over smooth talking and chance encounters.</p>
