<script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js"
 type="text/javascript"></script>
<h1>All Projects</h1>
<div class="transitions-enabled" id="posts">
  <% @posts.each do |post| %>
  <div class="box panel panel-default">
    <%= link_to project_posts_path(post.id) do %>
    <%= cl_image_tag(post.picture_url(:large), width: 200, height: 200, :default_image => post.picture.url) %>
    <% end %>
    <p class="user">
      Submitted by
      <%= post.user.email %>
    </p>
  </div>
  <% end %>
</div>
